:root {
    --primary-color:#F1F2F4;
    --secondary-color:#353C51;
}
body {
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    justify-content: space-around;
    align-items: center;
    font-family:Helvetica, Arial, sans-serif;
}
main {
    display:flex;
    justify-content: space-around;
}
textarea {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 1.05em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#query {
    height:10vh;
}
#output{ 
    font-size: 1.05em;
    font-family:Helvetica, Arial, sans-serif;
    padding-left:50px;
}
#numOfNodes{
    margin:0;
    text-align: right;
}
main, #query {
    width:80vw;
}
#input, aside {
    width:35vw;
    height:75vh;
}
#input, aside, #query {
    overflow:scroll;
    border-radius: 5px;
    padding: 5px;
}
.theme-switch-wrapper {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    transition: 1.5s ease-in-out;
}
.theme-switch-wrapper--on {
    background-color:var(--secondary-color);
    color: var(--primary-color);
    transition: 1.5s ease-in-out;
}
.theme-switch {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    border: double var(--secondary-color) 3px;
    transition: 1.5s ease-in-out;
}
.theme-switch--on{
    background-color:var(--secondary-color);
    color: var(--primary-color);
    border: double var(--primary-color) 3px;
    transition: 1.5s ease-in-out;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25.5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19.5px;
    width: 19.5px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }