body {
    background-color: white;
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items: center;
    font-family:Helvetica, Arial, sans-serif;
}
section {
    display:flex;
    width:80vw;
}
textarea {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 16px;
}
#query {
    width:80vw;
    height:10vh;
}
#input, div{
    width:35vw;
    height:70vh;
    margin: 0px 50px 20px 50px;
    /* border: dashed 2px red; */
}
#output{ 
    font-size: 14px;
    font-family:Helvetica, Arial, sans-serif;
}
#numOfNodes{
    margin:0;
}
#input, div, #query {
    overflow:scroll;
}