:root {
    --primary-color:white;
    --secondary-color:black;
}
body {
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    justify-content: space-around;
    align-items: center;
    font-family:Helvetica, Arial, sans-serif;
}
main {
    display:flex;
    justify-content: space-around;
}
textarea {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#query {
    height:10vh;
}
#output{ 
    font-size: 15px;
    font-family:Helvetica, Arial, sans-serif;
}
#numOfNodes{
    margin:0;
    text-align: right;
}
main, #query {
    width:80vw;
}
#input, aside {
    width:35vw;
    height:75vh;
}
#input, aside, #query {
    overflow:scroll;
    border-radius: 5px;
    padding: 5px;
}
.theme-switch-wrapper {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
.theme-switch-wrapper--on {
    background-color:var(--secondary-color);
    color: var(--primary-color);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
.theme-switch {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    border: double var(--secondary-color) 3px;
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
.theme-switch--on{
    background-color:var(--secondary-color);
    color: var(--primary-color);
    border: double var(--primary-color) 3px;
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
.toggle-body {
    width: 2.44rem;
    height: 1.5rem;
    background: var(--secondary-color);
    border-radius: 2rem;
    transform: rotate(0deg);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
.toggle-body--on {
    transform: rotate(180deg);
    background: var(--primary-color);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
.toggle-btn {
    width: .75rem;
    height: .75rem;
    position: absolute;
    top: calc(50% - .8rem / 2);
    left: calc(27% - .8rem / 2);
    border-radius: 2rem;
    background: var(--primary-color);
    cursor: pointer;
    transform: rotate(0deg);
    transform-origin: 130% 115%;
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
.toggle-btn--on {
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
    transform: rotate(-357deg);
    background: var(--secondary-color);
    transform-origin: 130% 150%;
}
